* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.body {
  background-color: #2b2929;
}
.container{
  max-width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 10px;
  border:5px;
}
.container h1{
  margin-bottom: 1px;
}
.container h3{
  margin-top:1px;
  font-style: italic;
}

.headline {
color: #bf5700;
  font-size: 13pt;

}
.byline{
  font-size: 9pt;
  color:#7e7a7a ;
  text-transform:uppercase;

}
.story1{
  background-color:#dfd8d8;
  padding: 15px;
}
.headline1{
  font-size: 18pt;
}
.byline1{
  font-size: 12pt;
  color: #7e7a7a;
  text-transform: uppercase;
}
.more h3{
  font-size: 12pt;
  font-style: normal;
  border-bottom: solid black;
  margin-bottom: 0;
}
.more ul{
  margin-top: 0;
}

.left-column{
  width: 70%;
  float: left;
  padding-right: 10px;
}
.right-column{
  width: 30%;
  float: right;
  padding-left:10px;
}
.clearfix {
  overflow: auto;}
