
.container h1{
  margin-bottom: 1px;
}
.container h3{
  margin-top:1px;
  font-style: italic;
}

.headline {
color: #bf5700;
  font-size: 13pt;

}
.byline{
  font-size: 9pt;
  color:#7e7a7a ;
  text-transform:uppercase;

}
.story1{
  background-color:#dfd8d8;
  padding: 15px;
}
.headline1{
  font-size: 18pt;
}
.byline1{
  font-size: 12pt;
  color: #7e7a7a;
  text-transform: uppercase;
}
